In [20]:
import pandas as pd
df = pd.read_csv('./train.csv')
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [21]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Fare','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Survived  Pclass     Sex   Age
0         0       3    male  22.0
1         1       1  female  38.0
2         1       3  female  26.0
3         1       1  female  35.0
4         0       3    male  35.0

In [22]:
target = df['Survived']
df.drop('Survived',axis='columns',inplace=True)

In [25]:
dumies = pd.get_dummies(df.Sex)
dumies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [27]:
df = pd.concat([df,dumies],axis='columns')
df.drop('Sex',axis='columns',inplace=True)
df.head(3)

   Pclass   Age  female  male
0       3  22.0       0     1
1       1  38.0       1     0
2       3  26.0       1     0

In [28]:
df.columns[df.isna().any()]

Index(['Age'], dtype='object')

In [29]:
df.Age = df.Age.fillna(df.Age.mean())
df.head(10)

   Pclass        Age  female  male
0       3  22.000000       0     1
1       1  38.000000       1     0
2       3  26.000000       1     0
3       1  35.000000       1     0
4       3  35.000000       0     1
5       3  29.699118       0     1
6       1  54.000000       0     1
7       3   2.000000       0     1
8       3  27.000000       1     0
9       2  14.000000       1     0

In [42]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df,target,test_size=0.2)

In [43]:
print(len(X_train),len(X_test))

712 179

In [49]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [50]:
model.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [51]:
model.score(X_test,y_test)

0.7597765363128491

In [52]:
model.predict(X_test[0:10])

array([1, 0, 0, 1, 0, 0, 0, 1, 0, 0])

In [48]:
y_test[0:10]

503    0
262    0
550    1
842    1
667    0
80     0
798    0
136    1
150    0
288    1
Name: Survived, dtype: int64

In [53]:
model.predict_proba(X_test[:10])

array([[0.0316913 , 0.9683087 ],
       [0.86711036, 0.13288964],
       [0.85200849, 0.14799151],
       [0.00449759, 0.99550241],
       [0.98052064, 0.01947936],
       [0.97829368, 0.02170632],
       [0.98057442, 0.01942558],
       [0.00377299, 0.99622701],
       [0.95615456, 0.04384544],
       [0.96025112, 0.03974888]])

In [54]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),X_train, y_train, cv=5)

array([0.8041958 , 0.79020979, 0.78169014, 0.83098592, 0.76056338])